{% if type == 'block' %}
  {% assign hero_full = block.settings.hero_full %}
  {% assign background_image = block.settings.background_image %}
  {% assign text = block.settings.text %}
  {% assign text_btn = block.settings.text_btn %}
  {% assign btn_link = block.settings.btn_link %}
{% else %}
  {% assign hero_full = section.settings.hero_full %}
  {% assign background_image = section.settings.background_image %}
  {% assign text = section.settings.text %}
  {% assign text_btn = section.settings.text_btn %}
  {% assign btn_link = section.settings.btn_link %}
{% endif %}
<section class="hero is-banner {% if hero_full == true %} is-fullheight is-full-custom{% endif %}" style="background-image:url({{ background_image | img_url: '1920x' }});">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="content">
        <h3 class="title is-3 has-text-primary">
          {{ text }}
        </h3>
        <a href="{{ btn_link_two }}" class="button is-small is-rounded is-warning is-uppercase has-text-centered has-text-white">
          <span>{{ text_btn }}</span>
        </a>
      </div>
    </div>
  </div>
</section>
