<section class="hero is-full-custom is-top-custom is-product">
  {% include 'breadcrumbs' %}
  <div class="hero-body is-flex">
    <div data-aos="fade-up" class="columns">
      <div class="column">
        <figure class="image feature is-margin-center">
          <img class="is-margin-center" src="{{ 'pdp-avospray.png' | asset_url }}">
        </figure>
      </div>
      <div class="column is-flex has-background-white">
        <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">{{ product.title }}</h1>
        <p class="title is-2 is-size-6-mobile has-text-centered has-text-primary is-marginless">{{ product.price | money }}</p>
        
      </div>
    </div>
  </div>
</section>
