{% capture product_tag %}{{ product.title }}{% endcapture %}
{% assign counter = 0 %}

{% for article in blogs.central.articles %}
  {% if article.tags contains product_tag and counter < 1 %}
    {% assign counter = counter | plus: 1 %}
    <section class="section has-background-grey-lighter">
      <h3 class="title is-2 has-text-primary has-text-centered">Our Favorite Recipes</h3>
      <div class="container">
        <div class="columns is-multiline recipes">
          {% for article in blogs.central.articles %}
            {% if article.tags contains product_tag %}
              <div class="column is-one-third">
                <div class="post" style="background-image: url('{{ article.image.src | img_url: '500x' }}')">
                  <span class="tag is-success">Recipes</span>
                  <h3 class="title is-3 has-text-white">{{ article.title }}</h3>
                  <a href="../blogs/{{ article.handle }}"></a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}
