<form class="search" action="/search">
  <div class="field has-addons has-addons-centered">
    <div class="control is-expanded">
      <input class="input" type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}" />
    </div>
    <div class="control">
      <button type="submit" class="button is-primary" value="Search">
        <span class="icon">
          <i class="cf-icon-search-16"></i>
        </span>
      </button>
    </div>
  </div>
</form>
