<main class="search-page">
  {% if search.performed %}
    <section class="hero is-full-custom is-top-custom">
      <div class="hero-body">
        <div class="content">
          {% if search.results_count == 0 %}
            <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">Sorry, we couldn't find any results</h1>
          {% else %}
            <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">Search: {{ search.terms | escape }}</h1>
          {% endif %}
        </div>
      </div>
    </section>
    {% if search.results_count == 0 %}
    {% else %}
      {% include 'search-grid' %}
    {% endif %}
  {% else %}
    <section class="hero is-full-custom is-top-custom">
      <div class="hero-body">
        <div class="content">
          <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">Search</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="content">
          {% include 'search-bar' %}
        </div>
      </div>
    </section>
  {% endif %}
</main>
