@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Bitter:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// Set your brand colors
$green: #00857D;
$dark-green: #1D3C34;
$light-green: #86C8BC;
$orange: #FF8450;
$red: #E35205;
$peach: #F9E1B7;
$grey: #CADAD9;
$grey-light: #F0F7F6;
$grey-lighter: #F4F5F5;
$white: #FFFFFF;
$light-red: #E55508;
$yellow: #EEBC2A;
$turquoise: #4DB089;
$blue: #2E53A2;
$black: #081F1E;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$family-title: "Bitter", sans-serif;
$primary: $green;
$danger: $light-red;
$success: $turquoise;
$info: $blue;
$link: $orange;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$radius-small: 1px !default;
$radius: 2px !default;
$radius-large: 3px !default;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

// Extra Code
// Colors
.has-background-peach {
  background-color: $peach;
}

// Extra Code
// Typography
.title {
  &.is-1 {
    font-size: 1.5rem;
    font-family: $family-title;
  }
  &.is-2 {
    font-size: 1.25rem;
    font-family: $family-title;
  }
  &.is-3 {
    font-size: .8125rem;
    font-family: $family-title;
  }
  &.is-4 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  &.is-5 {
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &.is-6 {
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

// Extra Code
// Helpers
.is-margin-center {
  margin: 0 auto;
}
// .is-marginbottom-0 {
//   margin-bottom: 0!important;
// }
// .is-margintop-1 {
//   margin-top: 1rem;
// }
// .is-max-340 {
//   max-width: 340px;
// }

// Extra Code
// SVG Icons Sprite
.cf-icon {
  width: 32px;
  height: 32px;
}
.cf-icon-account,.cf-icon-account\:regular{background-image:url('../assets/icons.svg');background-position:0 0;background-repeat:no-repeat}
.cf-icon-cart,.cf-icon-cart\:regular{background-image:url('../assets/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.cf-icon-green-down,.cf-icon-green-down\:regular{background-image:url('../assets/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.cf-icon-green-search,.cf-icon-green-search\:regular{background-image:url('../assets/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.cf-icon-green-x,.cf-icon-green-x\:regular{background-image:url('../assets/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.cf-icon-plus,.cf-icon-plus\:regular{background-image:url('../assets/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.cf-icon-right-arrow,.cf-icon-right-arrow\:regular{background-image:url('../assets/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.cf-icon-staffpick,.cf-icon-staffpick\:regular{background-image:url('../assets/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.cf-icon-white-facebook,.cf-icon-white-facebook\:regular{background-image:url('../assets/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.cf-icon-white-instagram,.cf-icon-white-instagram\:regular{background-image:url('../assets/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.cf-icon-white-search,.cf-icon-white-search\:regular{background-image:url('../assets/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.cf-icon-white-twitter,.cf-icon-white-twitter\:regular{background-image:url('../assets/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.cf-icon-white-up-small,.cf-icon-white-up-small\:regular{background-image:url('../assets/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.cf-icon-white-x,.cf-icon-white-x\:regular{background-image:url('../assets/icons.svg');background-position:0 -416px;background-repeat:no-repeat}

// Extra Code
// Navbar
$navbar-dropdown-radius: 1px;;

#mainMenu {
  border-top: solid 20px $green;
}
.navbar {
  .cf-icon-account {
    zoom: .7;
  }
  .cf-icon-cart {
    zoom: .8;
  }
}
.navbar-start {
  flex: 1;
}
.navbar-brand {
  justify-content: center;
  .navbar-item {
    img {
      width: initial;
    }
  }
}
.navbar-end {
  flex: 1;
}
.navbar-is-mobile {
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  .navbar-burger {
    margin-left: unset;
    color: $green;
    span {
      height: 2px;
      &:nth-child(3) {
        width: 9px;
      }
    }
    &.is-active {
      span {
        &:nth-child(3) {
          width: 16px;
        }
      }
    }
  }
}
.navbar-start-mobile {
  justify-content: flex-start;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex: 1;
}
.navbar-brand-mobile {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  justify-content: center;
  .navbar-item {
    img {
      width: initial;
    }
  }
}
.navbar-end-mobile {
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
  display: flex;
  flex: 1;
}
#navMenu {
  &.is-active {
    background: $green;
    .navbar-start {
      > a {
        &.navbar-item {
          padding: 0.5rem 3rem;
          font-weight: bold;
        }
      }
    }
    a {
      &.navbar-link, &.navbar-item {
        color: $white;
      }
      &.navbar-link {
        font-weight: bold;
        padding: 0.5rem 3rem;
        &:hover, &.is-active {
          background-color: $light-green;
        }
        &:not(.is-arrowless)::after {
          right: 3em;
          border-color: $white;
        }
      }
      &.navbar-item {
        padding-left: 5rem;
        padding-right: 5rem;
        &:hover, &.is-active {
          background-color: $light-green;
        }
      }
    }
    .search-item {
      &::after {
        background-image: url(../assets/icons.svg);
        background-position: 0 -96px;
        background-repeat: no-repeat;
        border: 3px solid transparent;
        border-radius: 2px;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 2em;
        margin-top: -0.4375em;
        pointer-events: none;
        position: absolute;
        top: 40%;
        transform-origin: center;
        width: 3em;
        filter: brightness(0) invert(1);
        right: 5em;
        zoom: 0.5;
      }
    }
  }
}

// Extra Code
// Hero
.hero {
  &.is-top-custom {
  height: calc(100vh - 4.5rem);
    .hero-body {
      height: 100%;
    }
    .container {
      height: calc(100vh - 10rem);
      div {
        &:nth-child(1) {
          height: 65%;
          .image {
            height: 100%;
            img {
              max-height: 100%;
              width: auto;
            }
          }
        }
        &:nth-child(2) {
          height: 35%;
          display: flex;
          flex-direction: column;
          .image {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            img {
              max-height: 100%;
              width: auto;
              margin: 0 auto;
            }
          }
          .title {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .icon {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
}
