<main class="activate-page">
  <section class="hero is-page">
    <div class="hero-body">
      <div class="content has-text-centered">
        <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">Reset Account Password</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content has-text-centered">
        <p class="title is-6 is-size-7-mobile is-marginless">Enter a new password for {{ email }}</p>
        <hr>
        <div class="content has-text-left">
          {% form 'reset_customer_password' %}
            {{ form.errors | default_errors }}
            <div class="field">
              <label for="ResetPassword" class="label">New Password</label>
              <div class="control">
                <input class="input {% if form.errors contains "password" %}is-danger{% endif %}" type="password" value="" name="customer[password]" id="ResetPassword">
              </div>
              {% if form.errors contains "password" %}
                <p class="help is-danger">Choose a different password</p>
              {% endif %}
            </div>
            <div class="field">
              <label for="PasswordConfirmation" class="label">Confirm Password</label>
              <div class="control">
                <input class="input {% if form.errors contains "password_confirmation" %}is-danger{% endif %}" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation">
              </div>
              {% if form.errors contains "password_confirmation" %}
                <p class="help is-danger">Password confirmation doesn't match</p>
              {% endif %}
            </div>
            <div class="field">
              <div class="control">
                <input type="submit" class="button is-link" value="Reset Password">
              </div>
            </div>
          {% endform %}
        </div>

      </div>
    </div>
  </section>
</main>
