<header>
  <nav class="navbar is-fixed-top" id="mainMenu" role="navigation" aria-label="main navigation">
    <div class="navbar-menu navbar-is-mobile is-flex-touch is-hidden-desktop is-paddingless is-shadowless">
      <div class="navbar-start-mobile">
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-brand-mobile">
        <a class="navbar-item is-flex" href="">
          <img src="{{ 'chosen-logo.png' | asset_url }}" alt="Chosen Foods" width="112" height="28">
        </a>
      </div>
      <div class="navbar-end-mobile">
        <a class="navbar-item is-flex">
          <span class="icon">
            <i class="cf-icon-account-32"></i>
          </span>
        </a>
        <a class="navbar-item is-flex">
          <span class="icon">
            <i class="cf-icon-cart-32"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="navbar-menu is-shadowless" id="navMenu">
      <div class="navbar-item navbar-item-float is-hidden-desktop">
        <button class="button is-small is-rounded is-uppercase is-warning has-text-centered has-text-white">
          <span>Find a Store</span>
        </button>
      </div>
      <div class="navbar-start">
        {% include 'menu-one' %}
        <div class="navbar-item search-item">
          <div class="field has-addons has-addons-centered">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Search">
            </div>
            <div class="control">
              <button type="submit" class="button is-primary">
                <span class="icon">
                  <i class="cf-icon-search-16"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="navbar-item is-hidden-desktop">
          <div class="container">
            <div>
              <h6 class="title is-3 has-text-white has-text-centered">Catch our drift</h6>
              <p class="has-text-white has-text-centered">
                sign up to receive our exclusive deals, unique recipes, healthy living inspirations, and industry news.
              </p>
            </div>
            <div class="newsletter field has-addons has-addons-centered">
              <div class="control is-expanded">
                <input class="input is-rounded" type="email" placeholder="Email Address">
              </div>
              <div class="control">
                <button type="submit" class="button is-rounded">
                  <span class="icon">
                    <i class="cf-icon-right-arrow-16"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-item is-hidden-desktop has-background-light-green">
          <div class="container">
            <h6 class="title is-3 has-text-white has-text-centered">Relationships need nourishment</h6>
            <p class="has-text-white has-text-centered">
              stay in the loop
            </p>
            <div class="social is-margin-center">
              <div class="columns is-mobile has-text-centered">
                <div class="column">
                  <span class="icon is-medium"><i class="cf-icon-instagram-32"></i></span>
                </div>
                <div class="column">
                  <span class="icon is-medium"><i class="cf-icon-twitter-32"></i></span>
                </div>
                <div class="column">
                  <span class="icon is-medium"><i class="cf-icon-facebook-32"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-item is-hidden-desktop">
          <div class="container">
            <div class="columns is-mobile">
              <div class="column">
                {% include 'menu-two' %}
              </div>
              <div class="column">
                {% include 'menu-three' %}
              </div>
            </div>
            <div class="container">
              <figure data-aos="fade-up" class="image">
                <img class="is-margin-center" src="{{ 'footer-menu.png' | asset_url }}">
              </figure>
            </div>
            <div class="columns">
              <div class="column">
                <p class="is-size-7 has-text-white">
                  1747 Hancock St, Ste A, San Diego, CA 92101 877.674.2244
                </p>
              </div>
              <div class="column">
                <p class="is-size-7 has-text-white">
                  © 2018 Chosen Foods LLC. All Rights Reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-brand is-hidden-touch">
        <a class="navbar-item is-flex" href="">
          <img src="{{ 'chosen-logo.png' | asset_url }}" alt="Chosen Foods" width="112" height="28">
        </a>
      </div>
      <div class="navbar-end is-hidden-touch">
        <a class="navbar-item">
          <button class="button is-small is-rounded is-uppercase is-warning has-text-centered has-text-white">
            <span>Find a Store</span>
          </button>
        </a>
        <a class="navbar-item is-flex">
          <span class="icon">
            <i class="cf-icon-account-32"></i>
          </span>
        </a>
        <a class="navbar-item is-flex">
          <span class="icon">
            <i class="cf-icon-cart-32"></i>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>

{% schema %}
  {
    "name": "Menus",
    "settings": [
      {
        "type": "link_list",
        "id": "one_linklist",
        "label": "Menu One",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "two_linklist",
        "label": "Menu Two",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "three_linklist",
        "label": "Menu Three",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
