{% for link in linklists[section.settings.footer_one_linklist].links %}
  {% if link.links == blank %}
    <li><a href="{{ link.url }}" class="is-size-7 has-text-primary">{{ link.title }}</a></li>
  {% endif %}
{% endfor %}
