<aside class="menu">
  <ul class="menu-list">
    {% for link in linklists[section.settings.two_linklist].links %}
      <li><a href="{{ link.url }}" class="is-size-7 has-text-white">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</aside>
